@model mvcdemo1.Models.Emp
@{
    ViewBag.Title = "SendObject";
}

<h2>SendObject
    <table>
        <tr>
            <td>EMPNO</td>
            <td>@Model.Empno</td>

        </tr>
        <tr>
            <td>EMPNAME</td>
            <td>@Model.Ename</td>

        </tr>
        <tr>
            <td>SALARY</td>
            <td>@Model.Salary</td>

        </tr>

    </table>
    
    
    
    
    </h2>

